*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#root {
  width: 100vw;
  display: grid;
  grid-template-columns: clamp(180px, 25%, 240px) 1fr;
  grid-template-rows: min-content 1fr;
  /* gap: 25px; */
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 50px;
  background-color: #007bff;
  text-align: center;
  color: white;
}

.sidebar {
  min-height: 100vh;
  padding-top: 2rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: min-content;
  background-color: #f4f4f4;
  color: #444;
}

.sidebar-nav {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: space-between; */
}

.sidebar i {
  margin-right: 1rem;
  min-width: 25px;
  font-weight: inherit;
}

.sidebar a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--grey2);
}

.sidebar li:not(.active-link):hover,
.sidebar li:focus .sidebar li:active {
  background-color: #e9e9e9;
}

.nav-link > a:focus {
}

.sidebar h4 {
  font-weight: bold;
  padding: 0 1.5rem;
  margin-bottom: 0.3rem;
}

/* .project-link:first-of-type {
  margin-top: 0.5rem;
} */

.project-link {
  display: flex;
  align-items: center;
}

.new-project-btn {
  padding: 0 1rem;
}

.delete-project-btn {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  padding: 0px 0px;
  margin: 0 10px 0 0px;
  color: #111;
  background-color: rgb(255, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.02);
  background: none;
  border: none;
}

.delete-project-btn:hover {
  transform: scale(1.1);
  background: rgb(255, 0, 0, 0.3);
  /* color: rgb(255, 255, 255, 0.9); */
  /* border: 2px solid #ff0000; */
}

.add-project-popup form {
  display: block;
}

.add-project-popup {
  width: 80%;
  margin: 0 auto;
  display: none;
}

.add-project-popup.active {
  display: block;
}

.add-project-popup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.add-project-popup-buttons button {
  margin: 0 0.1rem;
}

.main {
  width: clamp(300px, 75%, 100%);
  margin: 2rem auto;
  padding: 0 1rem;
  padding-right: 32px;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type='text'],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
}

[type='text'] {
  width: 100%;
}

[type='text']:active,
[type='text']:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type='checkbox'] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  margin-bottom: 1rem;
  color: #222;
}

main li {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

main li span {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

main li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

main li span:focus {
  outline: 0;
  border: 2p x solid #007bff;
  background: rgba(179, 207, 255, 0.52);
}

.active-link {
  /* font-weight: bold; */
  background-color: #e9e9e9;
  border-radius: 4px;
  border-left: 4px solid #007bff;
  color: #444;
}
