*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#root {
  max-width: 100vw;
  display: grid;
  grid-template-columns: max(16%, 220px) 1fr;
  grid-template-rows: min-content 1fr;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 50px;
  padding: 0 0.5rem 0.1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.logo i {
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 0rem;
}

.open-nav-btn {
  display: none;
  place-content: center;
  padding: 0;
}

.open-nav-btn.active {
  display: block;
}

.open-nav-btn i {
  font-size: 2.5rem;
}

.sidebar {
  height: 100vh;
  padding-top: 2rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: min-content;
  background-color: #f4f4f4;
  color: #444;
}

.sidebar.active {
  display: block;
  height: min-content;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 0.5rem;
  /* justify-content: space-between; */
}

.sidebar i {
  margin-right: 1rem;
  min-width: 25px;
  font-weight: inherit;
}

.sidebar a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--grey2);
}

.sidebar li:not(.active-link):hover,
.sidebar li:focus .sidebar li:active {
  background-color: #e9e9e9;
}

.sidebar h4 {
  font-weight: bold;
  padding: 0 1.5rem;
  margin-bottom: 0.3rem;
}

.project-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-project-btn {
  padding: 0 1rem;
}

.delete-project-btn {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  padding: 0px 0px;
  margin: 0 10px 0 0px;
  color: #111;
  background-color: rgb(255, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.02);
  background: none;
  border: none;
}

.delete-project-btn:hover {
  transform: scale(1);
  background: rgb(255, 0, 0, 0.9);
  color: rgb(255, 255, 255, 0.9);
  /* border: 2px solid #ff0000; */
}

.add-project-popup form {
  width: 100%;
  display: block;
}

.add-project-popup {
  width: 80%;
  margin: 0 auto;
  display: none;
}

.add-project-popup.active {
  display: block;
}

.add-project-popup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.add-project-popup-buttons button {
  margin: 0 0.1rem;
}

.main {
  width: clamp(450px, 95%, 1200px);
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  width: clamp(420px, 50%, 800px);
  display: flex;
  margin: 0 0 1rem;
}

[type='text'],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  height: 2.4rem;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
}

[type='text'] {
  width: 100%;
}

[type='text']:active,
[type='text']:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type='checkbox'] {
  margin-right: 1rem;
  margin-left: 0.3rem;
  font-size: 2rem;
}

h1 {
  margin-bottom: 1rem;
  color: #222;
}

main li {
  display: grid;
  grid-template-columns: min-content 1fr auto auto;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

main li span {
  display: inline-block;
  padding: 0.5rem;
  width: max-content;
  border-radius: 4px;
  border: 2px solid transparent;
}

main li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

main li span:focus {
  outline: 0;
  border: 2p x solid #007bff;
  background: rgba(179, 207, 255, 0.52);
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.due-date {
  height: 2.4rem;
  padding: 0rem 1rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #e9e9e9;
  border: 1px solid rgb(0, 0, 0, 0.02);
  border-radius: 4px;
  white-space: nowrap;
}

.input-due-date {
  display: none;
  height: 2.4rem;
  padding: 0.45rem 1rem;
  border: 1px solid #555;
  margin: 0 0.5rem;
  background: #e9e9e9;
  border: 1px solid rgb(0, 0, 0, 0.02);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
}

.input-due-date.active {
  display: block;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-week-field,
::-webkit-datetime-edit-year-field {
  cursor: text;
}

.active-link {
  background-color: #e9e9e9;
  border-radius: 4px;
  border-left: 4px solid #007bff;
  color: #444;
}

.hidden {
  display: none;
}

@media (max-width: 650px) {
  html {
    font-size: 0.75rem;
  }
  #root {
    grid-template-columns: 1fr;
  }
  .open-nav-btn {
    display: grid;
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }

  main form {
    width: 100%;
  }
}
